<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Google Maps API -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6XpmIZ7vydQiJ0DyL7IimYfTSLYQMUKI&callback=initMap"
      async
      defer
    ></script>
    <style>
      #map {
        height: 500px; 
        width: 100%;
      }
      .modal-body {
        max-height: 70vh;
        overflow-y: auto;
      }
      .modal-body img {
        width: 100%;
        height: auto;
      }
      .modal-content {
        background-color: #fff; /* 모달 창 내용의 배경색을 흰색으로 설정 */
        border: none;
      }
      .modal-dialog {
        max-width: 90%;
      }
      .col-md-4 {
        padding: 0.5rem;
      }
      .img-fluid {
        border-radius: 5px;
        transition: transform 0.2s ease-in-out;
      }
      .img-fluid:hover {
        transform: scale(1.05);
      }
      .image-label {
          display: block; /* 라벨을 블록 수준 요소로 표시하여 이미지 아래에 위치하도록 설정 */
          margin-bottom: 5px; /* 이미지와 라벨 사이의 간격 조정 */
          font-size: 14px; /* 라벨의 글꼴 크기 설정 */
          font-weight: bold; /* 라벨 텍스트의 굵기 설정 */
          color: #333; /* 라벨 텍스트의 색상 설정 */
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <!-- 로고 -->
        <a class="navbar-brand" href="/">
          <img
            src="/logo.png"
            alt="로고 이미지"
            width="50"
            height="50"
            class="d-inline-block align-top"
          />
        </a>
        <a class="navbar-brand">이미지 조회(지도형)</a>

        <!-- 토글 버튼 -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 메뉴 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">이미지 등록 </a>
                        </li>
          
            <li class="nav-item">
              <a class="nav-link" href="/aggregate">이미지 조회(표타입)</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-5">
      <h1 class="mb-4">현장사진보기</h1>
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="constructionSite" class="form-label">공사현장:</label>
          <select id="constructionSite" class="form-select">
            <option value="전체">전체</option>
            <!-- 중복 제거한 공사현장 목록을 동적으로 추가 -->
            <% const uniqueConstructionSites = [...new Set(photos.map(photo =>
            photo.constructionSite))]; %> <%
            uniqueConstructionSites.forEach(site => { %>
            <option value="<%= site %>"><%= site %></option>
            <% }); %>
          </select>
        </div>
        <div class="col-md-4">
          <label for="startDatePicker" class="form-label">시작 날짜:</label>
          <input type="date" id="startDatePicker" class="form-control" />
        </div>
        <div class="col-md-4">
          <label for="endDatePicker" class="form-label">종료 날짜:</label>
          <input type="date" id="endDatePicker" class="form-control" />
        </div>
        <div class="col-md-4">
          <label for="constructionType" class="form-label">공종:</label>
          <select id="constructionType" class="form-select">
            <option value="전체">전체</option>
            <!-- 여기에 서버에서 가져온 공종 목록을 동적으로 추가 -->
          </select>
        </div>
      </div>
        <div class="col-md-4 d-flex align-items-end">
          <button onclick="search()" class="btn btn-primary mx-2" >검색</button>
          <!-- <button onclick="downloadImages()" class="btn btn-primary mx-2">이미지 다운로드</button>            
          </button> -->
          <button onclick="viewImages()" class="btn btn-primary" >이미지 보기</button>
        </div>
      </div> 
      <div id="map"></div>
    </div>
 <!-- 이미지 모달 -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">이미지 보기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" id="imageGrid">
            <!-- 이미지 그리드가 여기에 동적으로 추가됨 -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script>
      let map;
      let markers = [];

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 36.6027, lng: 127.8648 }, // 충청남도 홍성으로 초기 위치 설정
          zoom: 10,
        });
      }

      function clearMarkers() {
        markers.forEach((marker) => {
          marker.setMap(null);
        });
        markers = [];
      }

      function addMarker(lat, lng, label, imageUrl) {
        const marker = new google.maps.Marker({
          position: { lat: lat, lng: lng },
          map: map,
          label: {
            text: label,
            color: "black", // 라벨 텍스트 색상
            fontWeight: "bold", // 라벨 텍스트 굵기
            fontSize: "14px", // 라벨 텍스트 크기
            backgroundColor: "white", // 라벨 배경색
          },
        });

        // 마커 클릭 시 이미지 팝업
      const infowindow = new google.maps.InfoWindow({
          content: `<img src="${imageUrl}" style="max-width: 300px; max-height: 300px;" />`,
        });

        marker.addListener("click", () => {
          infowindow.open(map, marker);
        });


        markers.push(marker);
      } 
    
async function search() {
    const constructionSite = document.getElementById("constructionSite").value;
    const startDate = document.getElementById("startDatePicker").value;
    const endDate = document.getElementById("endDatePicker").value;
    const constructionType = document.getElementById("constructionType").value;

    // 검색 조건 미선택 확인
    if (!constructionSite || !startDate || !endDate) {
        alert("공사현장, 시작 날짜, 종료 날짜를 선택해주세요.");
        return;
    }

    // 서버에 검색 요청을 보냄
    const response = await fetch(
        `/search?constructionSite=${constructionSite}&startDate=${startDate}&endDate=${endDate}&constructionType=${constructionType}`
    );
    const data = await response.json();

    // 검색 결과가 있는 경우
    if (data.length > 0) {
        // 첫 번째 결과의 좌표로 지도 이동 
        map.setCenter({ lat: data[0].latitude, lng: data[0].longitude });
        map.setZoom(12); // 지도 확대

        // 검색 결과를 받아와 마커를 추가
        clearMarkers();
        data.forEach((item) => {
            const label = `${item.constructionSite} - ${item.constructionType}- ${item.date}`; // 마커 라벨 설정
            addMarker(item.latitude, item.longitude, label, "https://storage.googleapis.com/itfimgsaveservice.appspot.com" + item.imageUrl);
        });

        // 클러스터링 라이브러리 사용
        // const markerCluster = new MarkerClusterer(map, markers, {
        //     imagePath: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
        // });

        
    } else {
        alert("선택하신 조건에 등록된 이미지가 없습니다.");
    }
}

      async function downloadImages() {
        const constructionSite = document.getElementById("constructionSite").value;
        const date = document.getElementById("datePicker").value;
        // 검색 조건 미선택 확인
        if (!constructionSite || !date) {
          alert("공사현장 또는 날짜를 선택해주세요.");
          return;
        }
           // 서버에 검색 요청을 보냄
        const response = await fetch(
          `/search?constructionSite=${constructionSite}&date=${date}`
        );
        const data = await response.json();
        // 검색 결과가 있는 경우
        if(data.length > 0 ){       
        // 이미지 다운로드 URL 생성
        const url = `/download?constructionSite=${constructionSite}&date=${date}`;
        // 이미지 다운로드 링크 생성
        const link = document.createElement("a");
        link.href = url;
        link.download = "images.zip";
        // 링크 클릭하여 다운로드 실행
        link.click();
        }else{
          alert("선택하신 조건에 등록된 이미지가 없습니다.") ;
        }
      }
      async function viewImages() {
    const constructionSite = document.getElementById("constructionSite").value;
    const startDate = document.getElementById("startDatePicker").value;
    const endDate = document.getElementById("endDatePicker").value;
    const constructionType = document.getElementById("constructionType").value;

    // 검색 조건 미선택 확인
    if (!constructionSite || !startDate || !endDate) {
        alert("공사현장, 시작 날짜, 종료 날짜를 선택해주세요.");
        return;
    }

    const imageGrid = document.getElementById("imageGrid");
    imageGrid.innerHTML = ""; // 이미지 그리드 비우기

    // 서버에 검색 요청을 보냄
    const response = await fetch(
        `/search?constructionSite=${constructionSite}&startDate=${startDate}&endDate=${endDate}&constructionType=${constructionType}`
    );
    const data = await response.json();

    if (data.length > 0) {
        data.forEach((item) => {
            const imageUrl = "https://storage.googleapis.com/itfimgsaveservice.appspot.com" + item.imageUrl;
            const img = document.createElement("img");
            img.src = imageUrl;
            img.className = "img-fluid";

            const captionText = `현장: ${item.constructionSite}, 공종: ${item.constructionType}, 날짜: ${item.date}`;
            const label = document.createElement("label");
            label.textContent = captionText; // 캡션 텍스트 설정
            label.className = "image-label"; // 추가적인 스타일링을 위해 클래스 추가

            // 이미지와 삭제 버튼을 담는 div 요소 생성
            const container = document.createElement("div");
            container.className = "image-container";

            // 삭제 버튼 생성
            const deleteButton = document.createElement("button");
            deleteButton.textContent = "Delete";
            deleteButton.className = "btn btn-danger delete-button";

            // 삭제 버튼 클릭 시 이미지 삭제
            deleteButton.addEventListener("click", async () => {
                // 이미지 삭제를 위한 서버 요청 보내기
                const deleteResponse = await fetch(`/deleteImage?id=${item.id}`, {
                    method: "DELETE"
                });

                if (deleteResponse.ok) {
                    // 이미지 그리드에서 삭제된 이미지 제거 
                    container.remove();
                    alert("이미지가 삭제되었습니다.");
                } else {
                    alert("이미지 삭제 중 오류가 발생했습니다.");
                }
            });

            // 이미지와 삭제 버튼을 함께 컨테이너에 추가
            container.appendChild(img);
            container.appendChild(label);
            container.appendChild(deleteButton);

            // 이미지 그리드에 컨테이너 추가
            imageGrid.appendChild(container);
        });

        const modal = new bootstrap.Modal(document.getElementById("imageModal"));
        modal.show();
    } else {
        alert("선택하신 조건에 등록된 이미지가 없습니다.");
    }
}
      // 공종 데이터를 가져오고 셀렉트 박스를 채우는 함수
async function fetchConstructionTypes() {
  try {
    const response = await fetch('/constructionTypes');
    const constructionTypes = await response.json();
 
    const constructionTypeSelect = document.getElementById('constructionType');

    // 기존 옵션 제거
    constructionTypeSelect.innerHTML = '';

    // 전체 옵션 추가
    const allOption = document.createElement('option');
    allOption.value = '전체';
    allOption.textContent = '전체';
    constructionTypeSelect.appendChild(allOption);

    // 서버에서 받아온 공종 데이터를 옵션으로 추가
    constructionTypes.forEach(type => {
      const option = document.createElement('option');
      option.value = type;
      option.textContent = type; 
      constructionTypeSelect.appendChild(option);
    });
  } catch (error) {
    console.error('Error fetching construction types:', error);
  }
}
      // 페이지 로드 시 공종 데이터를 가져와 셀렉트 박스를 채움
      window.onload = function() {
        fetchConstructionTypes();
      };
    </script> 
       
     
       <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <!-- 부트스트랩 JavaScript 링크 추가 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
